*.opendb
GameProgramming/.vs/GameProgramming/v16/Browse.VC.db
GameProgramming/.vs/GameProgramming/v16/.suo
GameProgramming/.vs/GameProgramming/v16/ipch/AutoPCH/9ae8ccb89c46cfda/SOURCE.ipch
GameProgramming/Debug/GameProgramming.exe
GameProgramming/Debug/GameProgramming.ilk
GameProgramming/Debug/GameProgramming.pdb
GameProgramming/GameProgramming/Debug/GameProgramming.log
GameProgramming/GameProgramming/Debug/Source.obj
GameProgramming/GameProgramming/Debug/vc142.idb
GameProgramming/GameProgramming/Debug/vc142.pdb
GameProgramming/GameProgramming/Debug/GameProgramming.tlog/CL.command.1.tlog
GameProgramming/GameProgramming/Debug/GameProgramming.tlog/CL.read.1.tlog
GameProgramming/GameProgramming/Debug/GameProgramming.tlog/CL.write.1.tlog
GameProgramming/GameProgramming/Debug/GameProgramming.tlog/GameProgramming.lastbuildstate
GameProgramming/GameProgramming/Debug/GameProgramming.tlog/link.command.1.tlog
GameProgramming/GameProgramming/Debug/GameProgramming.tlog/link.read.1.tlog
GameProgramming/GameProgramming/Debug/GameProgramming.tlog/link.write.1.tlog
